# Directories named build
build/
# Unit test build logs
utbuild.log
# Any compiled python files
*.pyc
*.pyo
.pydevproject
# Any compiled C files
*.o
*.so
*.a
# Any unit test results
unittest*
# Any compiled Java files
*.class
*.jar
*.war
.classpath
.project
